.main{
    min-height: 100vh;
    background: linear-gradient(to right top, #209cff,#68e0cf); 
    display: flex;
    //vertical
    align-items: center;
    //horizontal
    justify-content: center;
}

//Glass Container Styles
.glass{
    display: flex;
    background: linear-gradient(to right bottom, 
    rgba(255,255,255,0.6), 
    rgba(255,255,255,0.1)
    );
    height: 80vh;
    width: 70%;
    border-radius: 2rem;
}

//AboutSection Styles
.aboutSection{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 2rem;
    background: linear-gradient(to right bottom, 
    rgba(255,255,255,0.3), 
    rgba(255,255,255,0.05)
    );
    backdrop-filter: blur(2rem);
    p{
        padding-top: 1rem;
        font-family: 'Poppins', sans-serif;
    }
    h3{
        font-family: 'Poppins', sans-serif;
    }
}

//Project Styles
.projects{
    flex:2;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    h2{
        margin-top: 2rem;
        font-family: 'Poppins', sans-serif;
    }
}

.project-list{
    display: grid;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: auto auto auto;
    margin-top: 4rem;
    h3{
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .container {
        width: 150px;
        height: 150px;
        background: linear-gradient(to right bottom, 
        rgba(255,255,255,0.6), 
        rgba(255,255,255,0.1)
        );    
        border-radius: 30px;
        text-align: center;
        p{
            padding-top: 1rem;
            font-family: 'Poppins', sans-serif;
            font-size: small;
        }
        h3{
            margin-top: .5rem;
        }
      }
}
 //Contact Styles
.contact{
    h2{
    margin-top: 4rem;
    }
    .contact-list{
        display: grid;
        flex-direction: column;
        justify-content: center;
        justify-content: space-evenly;
        align-items: center;
        grid-template-columns: auto auto auto;
        margin-top: 4rem;
    }
    .container-contact {
        
        width: 150px;
        height: 150px;
        background: linear-gradient(to right bottom, 
        rgba(255,255,255,0.6), 
        rgba(255,255,255,0.1)
        );    
        border-radius: 30px;
        text-align: center;

        p{
            padding-top: 1rem;
        }
        h3{
            margin-top: .5rem;
        }
        .icon{
            margin-top: 2.5rem;
        }
      }
}

img{
    border-radius: 2rem;
    width: 50px;
    height:50px;
    margin-bottom: 1rem;
 }

 //DevTitle Styles
 .devName{
    position: absolute;
    width: 10rem;
    height: 5rem;
    border-radius: 2rem;
    text-align: center;  
    background: linear-gradient(to right bottom, 
        rgba(255,255,255,0.6), 
        rgba(255,255,255,0.1)
        ); 
    margin-top: -43em;
    margin-left: -79em;
    h3{
        padding-top: 1.7rem;
        font-family: 'Montserrat Alternates', sans-serif;        
        font-size: x-large;
        color: gray;
        opacity: 0.7;
    }
 }

 